.container{
  background-color:#191970;
  color: white;
}

article{
  width: 33%;
  display: inline-block;
}
button{
  color: black;
}
.display-none{
  display: none;
}
.display-block{
  display: block;
}
#add-movie{
  position: absolute;
  left: 1%;
  font-size: 1.5em;
}
